In [6]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [7]:
url = 'https://www.linkedin.com/jobs/search?keywords=&location=india&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                  'AppleWebKit/537.36 (KHTML, like Gecko) '
                  'Chrome/122.0.0.0 Safari/537.36',
    'Accept-Language': 'en-US,en;q=0.9',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
    'Connection': 'keep-alive',
    'Referer': 'https://www.google.com/',
}
webpage = requests.get(url, headers=headers).text
soup=BeautifulSoup(webpage,'lxml')

In [8]:
company=soup.find_all('div',class_='base-search-card__info')

In [9]:
Designation=[]
Company_Name=[]
Work_location=[]
for i in company:
  Designation.append(i.find('h3',class_='base-search-card__title').text.strip())
  Company_Name.append(i.find('h4',class_='base-search-card__subtitle').text.strip())
  Work_location.append(i.find('span',class_='job-search-card__location').text.strip())

In [10]:
d={'Designation':Designation,"Company_Name":Company_Name,"Work_location":Work_location}
df=pd.DataFrame(d)

In [14]:
final_df=pd.DataFrame()
for j in range(0,1000):
  url = 'https://www.linkedin.com/jobs/search?keywords=&location=United%20States&geoId=103644278&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum={}'.format(j)
  headers = {
      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) '
                    'AppleWebKit/537.36 (KHTML, like Gecko) '
                    'Chrome/122.0.0.0 Safari/537.36',
      'Accept-Language': 'en-US,en;q=0.9',
      'Accept-Encoding': 'gzip, deflate, br',
      'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
      'Connection': 'keep-alive',
      'Referer': 'https://www.google.com/',
  }
  webpage = requests.get(url, headers=headers).text
  soup=BeautifulSoup(webpage,'lxml')
  company=soup.find_all('div',class_='base-search-card__info')
  Designation=[]
  Company_Name=[]
  Work_location=[]
  for i in company:
    Designation.append(i.find('h3',class_='base-search-card__title').text.strip())
    Company_Name.append(i.find('h4',class_='base-search-card__subtitle').text.strip())
    Work_location.append(i.find('span',class_='job-search-card__location').text.strip())
  d={'Designation':Designation,"Company_Name":Company_Name,"Work_location":Work_location}
  df=pd.DataFrame(d)
  final_df=pd.concat([final_df,df],ignore_index=True)

In [15]:
duplicate=final_df.copy()
duplicate.shape

(58680, 3)

In [19]:
demp=pd.read_csv('job_data.csv')
demp.nunique()

Unnamed: 0       59278
Designation        206
Company_Name       120
Work_location       92
dtype: int64

In [20]:
final_jobdata=duplicate.drop_duplicates()
final_jobdata.nunique()

Designation      201
Company_Name     109
Work_location     84
dtype: int64

In [17]:
final_jobdata.to_csv('US_jobdata.csv')